﻿@model IEnumerable<sbAdminTCC.UI.Web.Models.ContaViewModel>

<div class="table" style="height: 400px; ">
    <table class="table-striped" data-pagination="true" data-toggle="table" data-search="true" data-sort-name="Descricao" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="Descricao" data-align="left" data-sortable="true" style="width: 80%">@Html.DisplayNameFor(model => model.Descricao)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>
                        <a href="#" class="glyphicon glyphicon-pencil" onclick="javascript: Edit(@item.Id, '@item.Descricao'); return false;"></a>
                        <a href="#" class="glyphicon glyphicon-trash" onclick="javascript: Del(@item.Id); return false;"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
