﻿@model IEnumerable<sbAdminTCC.UI.Web.Models.ContaViewModel>
@{
    ViewBag.Title = "Conta";
}

<h3>Manutenção de Contas</h3>

<ol class="breadcrumb">
    <li><a href="#">Cadastros</a></li>
    <li class="active">Manutenção de Contas</li>
</ol>

<div class="container" style="padding-top:10px">
    <br />
    <button class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModalAddConta"></button>
    <!--MODAL ADD CONTA-->
    <div class="modal fade" id="myModalAddConta" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Adicionar Conta</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        @using (Html.BeginForm("Create", "Conta", FormMethod.Post, new { @id = "frmAddConta", @class = "form-horizontal", @autocomplete = "off" }))
                        {
                            <div class="form-group">
                                @Html.Label("Descrição", "Descrição")
                                @Html.TextBox("Descricao", "", new { @id = "Descricao", @class = "form-control", @required = "required" })
                            </div>
                            <br />
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Salvar</button>
                                <a class="btn btn-default" data-dismiss="modal" onclick="" tabindex="902" onblur="">Fechar</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!--MODAL EDIT CONTA-->
    <div class="modal fade" id="myModalEditConta" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Editar Conta</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        @using (Html.BeginForm("Edit", "Conta", FormMethod.Post, new { @id = "frmEditConta", @class = "form-horizontal", @autocomplete = "off" }))
                        {
                            @Html.Hidden("Id", new { @name = "Id_Edit" })

                            <div class="form-group">
                                @Html.Label("Descrição", "Descrição")
                                @Html.TextBox("Descricao", "", new { @id = "Descricao", @class = "form-control", @required = "required", name = "Descricao_Edit" })
                            </div>
                            <br />
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Salvar</button>
                                <a class="btn btn-default" data-dismiss="modal" onclick="" tabindex="902" onblur="">Fechar</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div id="listConta">
        @{
            Html.RenderPartial("_ContaPartialList");
        }
    </div>
</div>

<script>
    function Del(id) {
        bootbox.confirm("Confirmar exclusão?", function (result) {
            if (result) {

                $.ajax({
                    type: 'POST',
                    url: '/Conta/Delete/',
                    data: { id: id },
                    success: function(data) {
                        if (data.success) {
                            window.location.reload();
                        }
                        else {
                            bootbox.alert(data.response);
                        }
                    },
                    error: function (data) {
                        bootbox.alert(data.message);
                    }
                });
            }
        });
    };

    function Edit(id, descricao) {
        $("input[name=Id]").val(id);
        $("input[name=Descricao]").val(descricao);
        $('#myModalEditConta').modal('show');
    };

</script>