﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Application Name</h1>
    <p class="lead">Análise e desenvolvimento de um sistema web para controle financeiro pessoal</p>
</div>*@
