﻿@model sbAdminTCC.UI.Web.Models.DREViewModel
<div class="table">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 70%;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                <tr>
                <td><span class="glyphicon glyphicon-plus"></span> Receita Bruta</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.ReceitaBruta)</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-minus"></span> Impostos</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.Impostos)</td>
            </tr>
            <tr style="background-color: #CCCCCC;">
                <td><span class=" glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp; Lucro Bruto</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.LucroBruto)</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-minus"></span> Total de Desp. Variáveis</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.TotalDespesasVariaveis)</td>
            </tr>
            <tr style="background-color: #CCCCCC;">
                <td><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp; Lucro Operacional</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.LucroOperacional)</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-minus"></span> Total de Desp. Fixas</td>
                <td align="right">R$ @Html.DisplayFor(mdItem => Model.TotalDespesasFixas)</td>
            </tr>
            
            if (Model.LiquidoDoExercicio >= 0)
            {
                <tr style="background: #99FF99;">
                    <td>Lucro Líquido do Exercício</td>
                    <td align="right">R$ @Html.DisplayFor(mdItem => Model.LiquidoDoExercicio)</td>
                </tr>
            }
            else
            {
                <tr style="background: #FF0000;">
                    <td>Prejuizo Líquido do Exercício</td>
                    <td align="right">R$ @Html.DisplayFor(mdItem => Model.LiquidoDoExercicio)</td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>
    
