﻿@model IEnumerable<sbAdminTCC.UI.Web.Models.LancamentoViewModel>
@Styles.Render("~/Content/css")

<div class="table" style="height: 500px;">
    <table class="table-striped" data-pagination="true" data-toggle="table" data-search="true" data-sort-name="Descricao" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="Descricao" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.Descricao)</th>
                <th data-field="Valor" data-align="right" data-sortable="true">@Html.DisplayNameFor(model => model.Valor)</th>
                <th data-field="DataLancamento" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.DataLancamento)</th>
                <th data-field="ContaOrigemDescricao" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.ContaOrigemDescricao)</th>
                <th data-field="FormaPagtoDescricao" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.FormaPagtoDescricao)</th>
                <th data-field="CategoriaDescricao" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.CategoriaDescricao)</th>
                <th data-field="Realizado" data-align="left" data-sortable="true">@Html.DisplayNameFor(model => model.Realizado)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(mdItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(mdItem => item.Valor)</td>
                    <td>@Html.DisplayFor(mdItem => item.DataLancamento)</td>
                    <td>@Html.DisplayFor(mdItem => item.ContaOrigemDescricao)</td>
                    <td>@Html.DisplayFor(mdItem => item.FormaPagtoDescricao)</td>
                    <td>@Html.DisplayFor(mdItem => item.CategoriaDescricao)</td>
                    <td>@Html.DisplayFor(mdItem => item.DataRealizado)</td>

                    <td>
                        <a href="#" onclick="javascript: Edit(@item.Id);" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" onclick="javascript: Del(@item.Id);" class="glyphicon glyphicon-trash"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Scripts.Render("~/bundles/bootstrap")
