﻿@model IEnumerable<sbAdminTCC.UI.Web.Models.LancamentoViewModel>
@{
    ViewBag.Title = "Lançamentos";
}

<h3>Manutenção de Lançamentos</h3>

<ol class="breadcrumb">
    <li><a href="#">Cadastros</a></li>
    <li class="active">Manutenção de Lançamentos</li>
</ol>

<br/>
<ul class="nav nav-tabs nav-justified" role="tablist">
    @*<li id="rec" class="active"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(1);">Recebimentos</a></li>*@
    <li id="rec" class="@(ViewBag.tipoAtividadeId == 1 ? "active" : "")"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(1);">Recebimentos</a></li>
    
    @*<li id="dp"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(2);">Despesas Fixas</a></li>*@
    <li id="dp" class="@(ViewBag.tipoAtividadeId == 2 ? "active" : "")"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(2);">Despesas Fixas</a></li>

    @*<li id="dv"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(3);">Despesas Variáveis</a></li>*@
    <li id="dv" class="@(ViewBag.tipoAtividadeId == 3 ? "active" : "")"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(3);">Despesas Variáveis</a></li>

    @*<li id="imp"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(4);">Impostos</a></li>*@
    <li id="imp" class="@(ViewBag.tipoAtividadeId == 4 ? "active" : "")"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(4);">Impostos</a></li>

    @*<li id="trans"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(5);">Transferências</a></li>*@
    @*<li id="trans" class="@(ViewBag.tipoAtividadeId == 5 ? "active" : "")"><a href="#" role="tab" data-toggle="tab" onclick="javascript: ReloadTable(5);">Transferências</a></li>*@
</ul>

<div class="container" style="padding-top:10px">
    <br />
    <button class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModalLancamento"></button>
    <!-- MODAL ADD LANÇAMENTOS -->
    <div class="modal fade" id="myModalLancamento" role="dialog" data-backdrop="static">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Adicionar</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        @using (Html.BeginForm("Create", "Lancamento", FormMethod.Post, new { @id = "frmLancamento", @class = "form-horizontal", @autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @*@Html.ValidationSummary(true)*@

                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.Label("Descrição", "Descrição")
                                    @Html.TextBox("Descricao", "", new { @id = "Descricao", @placeholder = "Descrição do lançamento", @class = "form-control", @required = "required" })
                                    @Html.ValidationMessage("Descricao", "*")
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Valor", "Valor")
                                    @Html.TextBox("Valor", "0,00", new { @id = "Valor", @class = "form-control", @required = "required" })
                                    @Html.ValidationMessage("Valor", "*")
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Data Lançamento", "Data Lançamento")
                                    @Html.TextBox("DataLancamento", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control input-datepicker", @id = "DataLancamento", @required = "required" })
                                    @Html.ValidationMessage("DataLancamento", "*")
                                </div>

                                <div class="col-sm-4">
                                    @Html.AntiForgeryToken()
                                    @Html.Label("Forma Pagamento", "Forma Pagamento", new { @class = "control-label" })
                                    @Html.DropDownList("FormaPagtoId", (IEnumerable<SelectListItem>)ViewBag.ListarFormaPagto, "", 
                                        new { @class = "form-control", @id = "FormaPagtoId", @required = "required" })
                                    @Html.ValidationMessage("FormaPagtoId", "*")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    @Html.Label("Conta", "Conta", new { @class = "control-label" })
                                    @*@Html.DropDownList("ContaOrigemId", (IEnumerable<SelectListItem>)ViewBag.ListarConta, "", new { @class = "form-control", @id = "ContaOrigemId", @required = "required" })*@
                                    @Html.DropDownList("ContaOrigemId", (IEnumerable<SelectListItem>)ViewBag.ListarConta, "", new { @class = "form-control", @id = "ContaOrigemId"})
                                    @*@Html.ValidationMessage("ContaOrigemId", "*")*@
                                </div>
                                <div class="col-sm-6">
                                    @Html.Label("Categoria", "Categoria", new { @class = "control-label" })
                                    @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.ListarCategoria, "", new { @class = "form-control dropdown_categoria", @id = "CategoriaId", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.CheckBox("Realizado", false, new { @id = "Realizado", @onclick = "javascript: DisableAdd(this);"}) Realizado em:
                                    @Html.TextBox("DataRealizado", String.Empty, new { @id = "DataRealizado", @class = "form-control input-datepicker", @disabled = "disabled" })
                                </div>
                            </div>
                            @Html.Hidden("TipoAtividadeId", "1", new { @id = "TipoAtividade_Id" })
                            <div class="form-group">
                                <button id="btnSalvar" class="btn btn-primary" type="submit">Salvar</button>
                                <a class="btn btn-default" data-dismiss="modal" onclick="javascript: ClearAdd();" tabindex="902" onblur="">Fechar</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
  
    <!-- MODAL EDIT LANÇAMENTOS -->
    <div class="modal fade" id="myModalLancamentoEdit" role="dialog" data-backdrop="static">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Editar</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        @using (Html.BeginForm("Edit", "Lancamento", FormMethod.Post, new { @id = "frmLancamentoEdit", @class = "form-horizontal", @autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            @Html.Hidden("IdEdit", new { @Id = "IdEdit" })

                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.Label("Descrição", "Descrição")
                                    @Html.TextBox("DescricaoEdit", "", new { @id = "DescricaoEdit", @placeholder = "Descrição do lançamento", @class = "form-control", @required = "required" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Valor", "Valor")
                                    @Html.TextBox("ValorEdit", "0,00", new { @id = "ValorEdit", @class = "form-control", @required = "required"})
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Lançamento", "Lançamento")
                                    @Html.TextBox("DataLancamentoEdit", String.Empty, new { @class = "form-control input-datepicker", @id = "DataLancamentoEdit", @required = "required" })
                                </div>

                                <div class="col-sm-4">
                                    @Html.AntiForgeryToken()
                                    @Html.Label("Forma Pagamento", "Forma Pagamento", new { @class = "control-label" })
                                    @Html.DropDownList("FormaPagtoIdEdit", (IEnumerable<SelectListItem>)ViewBag.ListarFormaPagto, new { @class = "form-control", @id = "FormaPagtoIdEdit", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    @Html.Label("Conta", "Conta", new { @class = "control-label" })
                                    @Html.DropDownList("ContaOrigemIdEdit", (IEnumerable<SelectListItem>)ViewBag.ListarConta, "", new { @class = "form-control", @id = "ContaOrigemIdEdit", @required = "required" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.Label("Categoria", "Categoria", new { @class = "control-label" })
                                    @Html.DropDownList("CategoriaIdEdit", (IEnumerable<SelectListItem>)ViewBag.ListarCategoria, "", new { @class = "form-control dropdown_categoria", @id = "CategoriaIdEdit", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.CheckBox("RealizadoEdit", false, new { @id = "RealizadoEdit", @onclick = "javascript: Disable(this);" }) Realizado em:
                                    @Html.TextBox("DataRealizadoEdit", String.Empty, new { @id = "DataRealizadoEdit", @class = "form-control input-datepicker data_realizado", @disabled = "disabled" })
                                </div>
                            </div>
                            @Html.Hidden("TipoAtividadeIdEdit", "1", new { @id = "TipoAtividadeIdEdit" })
                            <div class="form-group">
                                <button id="btnSalvar" class="btn btn-primary" type="submit">Salvar</button>
                                <a class="btn btn-default" data-dismiss="modal" onclick="" tabindex="902" onblur="">Fechar</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div id="divLancamento">
        @{
            Html.RenderPartial("_LancamentoPartialList", Model);
        }
    </div>
    
    <script>
        function ClearAdd() {
            $(".field-validation-error").empty();

            $("#Descricao").val("");
            $("#Valor").val("0,00");
            $("#DataLancamento").val("");
            $("#FormaPagtoId").val("");
            $("#ContaOrigemId").val("");
            $("#CategoriaId").val("");
            $("#DataRealizado").val("");
            $("#Realizado").prop("checked", false);
            $('#Realizado').trigger('onclick');
        }

        function ReloadTable(id) {
            $.post("/Lancamento/CarregaPartialLancamentos/?id=" + id, function(data) {
                $("#divLancamento").html(data);
            });

            $("#TipoAtividade_Id").val(id);
            $("#TipoAtividadeIdEdit").val(id);

            $('.dropdown_categoria').find("option").remove();
            switch (id) {
                case 1:
                    $('.dropdown_categoria').html(
                        "<option value='128'></option>" +
                        "<option value='1'>Adiantamento</option>" + 
                        "<option value='2'>Boleto</option>" + 
                        "<option value='3'>Cartão</option>" + 
                        "<option value='4'>Cobrança</option>" + 
                        "<option value='5'>Comissão</option>" + 
                        "<option value='6'>Depósito</option>" + 
                        "<option value='7'>Empréstimo</option>" + 
                        "<option value='8'>Mensalidade</option>" + 
                        "<option value='9'>Rendimentos</option>" + 
                        "<option value='10'>Transferencia</option>" + 
                        "<option value='11'>Vendas</option>" +
                        "<option value='133'>Salário</option>" +
                        "<option value='134'>Outros</option>");
                    break;
                case 2:
                    $('.dropdown_categoria').html(
                        "<option value='129'></option>" +
                        "<option value='12'>13º Salário</option>" + 
                        "<option value='13'>Água e esgoto</option>" + 
                        "<option value='14'>Aluguel</option>" + 
                        "<option value='15'>Aquisição de equipamentos</option>" + 
                        "<option value='16'>Assessorias e Associações</option>" + 
                        "<option value='17'>Assistência Médica</option>" + 
                        "<option value='18'>Assistência odontológica</option>" + 
                        "<option value='19'>Cartório</option>" + 
                        "<option value='20'>Combustível</option>" + 
                        "<option value='21'>Comissão de vendedores</option>" + 
                        "<option value='22'>Contabilidade</option>" + 
                        "<option value='23'>Empréstimos</option>" + 
                        "<option value='24'>Energia elétrica</option>" + 
                        "<option value='25'>Horas Extras</option>" + 
                        "<option value='26'>Internet</option>" + 
                        "<option value='27'>Investimentos</option>" + 
                        "<option value='28'>Juros</option>" + 
                        "<option value='29'>Limpeza</option>" + 
                        "<option value='30'>Manutenção de equipamentos</option>" + 
                        "<option value='31'>Material de escritório</option>" + 
                        "<option value='32'>Passagem aéreas</option>" + 
                        "<option value='33'>Publicidade</option>" + 
                        "<option value='34'>Rescisões trabalhistas</option>" + 
                        "<option value='35'>Taxas bancárias</option>" + 
                        "<option value='36'>Telefone celular</option>" + 
                        "<option value='37'>Telefone fixo</option>" + 
                        "<option value='38'>Translado</option>" + 
                        "<option value='39'>Treinamentos</option>" + 
                        "<option value='40'>Vale Alimentação</option>" + 
                        "<option value='41'>Vale Transporte</option>" + 
                        "<option value='42'>Viagens</option>" +
                        "<option value='135'>Outros</option>");
                    break;
                case 3:
                    $('.dropdown_categoria').html(
                        "<option value='130'></option>" +
                        "<option value='43'>13º Salário</option>" + 
                        "<option value='44'>Água e esgoto</option>" + 
                        "<option value='45'>Aluguel</option>" + 
                        "<option value='46'>Aquisição de equipamentos</option>" + 
                        "<option value='47'>Assessorias e Associações</option>" + 
                        "<option value='48'>Assistência Médica</option>" + 
                        "<option value='49'>Assistência odontológica</option>" + 
                        "<option value='50'>Cartório</option>" + 
                        "<option value='51'>Combustível</option>" + 
                        "<option value='52'>Comissão de vendedores</option>" + 
                        "<option value='53'>Contabilidade</option>" + 
                        "<option value='54'>Empréstimos</option>" + 
                        "<option value='55'>Energia elétrica</option>" + 
                        "<option value='56'>Horas Extras</option>" + 
                        "<option value='57'>Internet</option>" + 
                        "<option value='58'>Investimentos</option>" + 
                        "<option value='59'>Juros</option>" + 
                        "<option value='60'>Limpeza</option>" + 
                        "<option value='61'>Manutenção de equipamentos</option>" + 
                        "<option value='62'>Material de escritório</option>" + 
                        "<option value='63'>Passagem aéreas</option>" + 
                        "<option value='64'>Publicidade</option>" + 
                        "<option value='65'>Rescisões trabalhistas</option>" + 
                        "<option value='66'>Taxas bancárias</option>" + 
                        "<option value='67'>Telefone celular</option>" + 
                        "<option value='68'>Telefone fixo</option>" + 
                        "<option value='69'>Translado</option>" + 
                        "<option value='70'>Treinamentos</option>" + 
                        "<option value='71'>Vale Alimentação</option>" + 
                        "<option value='72'>Vale Transporte</option>" + 
                        "<option value='73'>Viagens</option>" +
                        "<option value='136'>Outros</option>");
                    break;
                case 4:
                    $('.dropdown_categoria').html(
                       "<option value='131'></option>" +
                        "<option value='74'>Alvará</option>" + 
                        "<option value='75'>Cofins</option>" + 
                        "<option value='76'>CSLL</option>" + 
                        "<option value='77'>FGTS</option>" + 
                        "<option value='78'>GPS</option>" + 
                        "<option value='79'>ICMS</option>" + 
                        "<option value='80'>Imposto de Renda</option>" + 
                        "<option value='81'>INSS</option>" + 
                        "<option value='82'>IOF</option>" + 
                        "<option value='83'>IPI</option>" + 
                        "<option value='84'>IPTU</option>" + 
                        "<option value='85'>IPVA</option>" + 
                        "<option value='86'>IR</option>" + 
                        "<option value='87'>IRPJ</option>" + 
                        "<option value='88'>ISS</option>" + 
                        "<option value='89'>Juros</option>" + 
                        "<option value='90'>PIS</option>" + 
                        "<option value='91'>Simples Nacional</option>" +
                        "<option value='137'>Outros</option>");
                    break;
                default:
                    $('.dropdown_categoria').html(
                       "<option value='132'></option>" +
                        "<option value='1'>Adiantamento</option>" + 
                        "<option value='2'>Boleto</option>" + 
                        "<option value='3'>Cartão</option>" + 
                        "<option value='4'>Cobrança</option>" + 
                        "<option value='5'>Comissão</option>" + 
                        "<option value='6'>Depósito</option>" + 
                        "<option value='7'>Empréstimo</option>" + 
                        "<option value='8'>Mensalidade</option>" + 
                        "<option value='9'>Rendimentos</option>" + 
                        "<option value='10'>Transferencia</option>" + 
                        "<option value='11'>Vendas</option>" +
                        "<option value='133'>Salário</option>" +
                        "<option value='134'>Outros</option>");
            }
        }

        function Del(id) {

            bootbox.confirm("Confirmar exclusão?", function (result) {
                if (result) {
                    $.post("/Lancamento/Delete/", { id: id, tpAtividadeId: $("#TipoAtividade_Id").val() }).success(function () {
                        location.reload();
                    }).fail(function (e) {
                        bootbox.alert(e.message);
                    });
                }
            });
        };

        function DisableAdd(obj) {
            if (obj.checked) {
                $('#DataRealizado').removeAttr("disabled");
                //$('#DataRealizado').attr("required", "required");

            } else {
                $('#DataRealizado').attr("disabled", "disabled");
                //$('#DataRealizado').removeAttr("required");
            }
        }

        function Disable(obj) {
            if (obj.checked) {
                $('.data_realizado').removeAttr("disabled");
                //$('.data_realizado').attr("required", "required");

            } else {
                $('.data_realizado').attr("disabled", "disabled");
                //$('.data_realizado').removeAttr("required");
            }
        }

        function Edit(id) {
            $.get("/Lancamento/GetLancamentoEdit/", { id: id }, function (data) {
                $('input[name=IdEdit]').val(data.Id);
                $('input[name=DescricaoEdit]').val(data.Descricao);
                $('input[name=ValorEdit]').val(data.ValorJson);
                $('input[name=DataLancamentoEdit').val(data.DataLancamentoJson);
                $('[name=FormaPagtoIdEdit]').val(data.FormaPagtoId);
                $('[name=ContaOrigemIdEdit]').val(data.ContaOrigemId);
                $('input[name=TipoAtividadeId]').val(data.Realizado);
                $('input[name=RealizadoEdit]').prop("checked", data.Realizado);
                $('input[name=RealizadoEdit]').trigger('onclick');
                $('input[name=DataRealizadoEdit]').val(data.DataRealizadoJson);
                $("#CategoriaIdEdit").val(data.CategoriaId);
            });

            $('#myModalLancamentoEdit').modal('show');
        }

    </script>
    
    @section Scripts {
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery-ui/jquery-ui.min.js")
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(function() {
                $('.input-datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
            });
        </script>
    }
  
</div>

