﻿@{
    ViewBag.Title = "Dashboard";
}

<h3>Dashboard</h3>

<ol class="breadcrumb">
    <li><a href="#">Relatórios</a></li>
    <li class="active">Dashboard</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h5></h5></div>
                <div class="panel-body">
                    @*<div id="chart_div" style="width: 90%; height: 259px; margin:0 auto;">*@
                    <div id="chart_div" style="width: auto; height: 400px; margin: 0 auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h5></h5></div>
                <div class="panel-body">
                    <div id="chart_div1" style="width: auto; height: 289px; margin:0 auto;">
                        <div id="chart1" style="text-align: center;">
                            <div id="donutchart" style="width: auto; height: 289px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>RESULTADO (DRE) - @ViewBag.TitlePanelDRE</h5></div>
                <div class="panel-body">
                    <div id="divDRE">
                        @{
                            Html.RenderPartial("_PartialDRE");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h5></h5></div>
                <div class="panel-body">
                    <div id="barchart_material" style="width: auto; height: 300px; margin: 0 auto"></div>
                    <hr style="width: 80%;" />
                    <div id="barchart_material1" style="width: auto; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>ÚLTIMOS LANÇAMENTOS</h5></div>
                <div class="panel-body">
                    <div id="divUltLancamentos">
                        @{
                            Html.RenderPartial("_LancamentoPartialList");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    @*<script src="http://code.highcharts.com/highcharts.js"></script>*@
    @*<script src="http://code.highcharts.com/modules/exporting.js"></script>*@
    
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script>
        (function($) {
            $(function() {

                $.get('/Dashboard/LoadDesempenhoMes', function(data) {
                    $('#chart_div').highcharts({
                        title: { text: 'Desempenho Mensal', x: -20 }, //x: -20 = center
                        subtitle: { text: '', x: -20 },
                        xAxis: { categories: data.diaRealizado },
                        yAxis: { title: { text: 'Resultados' }, plotLines: [{ value: 0, width: 1, color: '#808080' }] },
                        tooltip: { valuePrefix: 'R$ ' },
                        legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0 },
                        series: [
                            { name: 'Recebimentos', data: data.TotalRecebido },
                            { name: 'Despesas', data: data.TotalDespesas }
                        ]
                    });
                });

                $.get('/DashBoard/LoadComparativoMesAnterior', function(data) {
                    //DESPESAS
                    $('#barchart_material').highcharts({
                        chart: { type: 'bar' },
                        title: { text: 'Comparativo Mês Corrente x Anterior' },
                        subtitle: { text: '' },
                        xAxis: { categories: data.Meses, title: { text: null } },
                        yAxis: { min: 0, title: { text: '', align: 'high' }, labels: { overflow: 'justify' } },
                        tooltip: { valuePrefix: 'R$ ' },
                        plotOptions: { bar: { dataLabels: { enabled: true } } },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 100,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                            shadow: true
                        },
                        credits: { enabled: false },

                        series: [
                            { name: 'Despesas Fixas', data: data.TotalDespFixa },
                            { name: 'Despesas Variáveis', data: data.TotalDespVariavel },
                            { name: 'Impostos', data: data.TotalImposto }
                        ]
                    });

                    //RECEBIMENTOS
                    $('#barchart_material1').highcharts({
                        chart: { type: 'bar' },
                        title: { text: '' },
                        subtitle: { text: '' },
                        xAxis: { categories: data.Meses, title: { text: null } },
                        yAxis: { min: 0, title: { text: '', align: 'high' }, labels: { overflow: 'justify' } },
                        tooltip: { valuePrefix: 'R$ ' },
                        plotOptions: { bar: { dataLabels: { enabled: true } } },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 100,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                            shadow: true
                        },
                        credits: { enabled: false },
                        series: [{ name: 'Recebimentos', data: data.TotalRecebimento }]
                    });
                });

                $.get('/Dashboard/LoadRealizadoMes', function (dados) {

                    var colors = Highcharts.getOptions().colors,
                    categories = ['Recebim', 'Desp Fixas', 'Desp Variáveis', 'Impostos'],
                    data = dados,
                    browserData = [],
                    versionsData = [],
                    i,
                    j,
                    dataLen = data.length,
                    drillDataLen,
                    brightness;

                    // Build the data arrays
                    for (i = 0; i < dataLen; i += 1) {

                        // add browser data
                        browserData.push({
                            name: categories[i],
                            y: data[i].y,
                            color: colors[i]
                        });

                        // add version data
                        drillDataLen = data[i].dados.categories.length;
                        for (j = 0; j < drillDataLen; j += 1) {
                            brightness = 0.2 - (j / drillDataLen) / 5;
                            versionsData.push({
                                name: data[i].dados.categories[j],
                                y: data[i].dados.data[j],
                                color: Highcharts.Color(colors[i]).brighten(brightness).get()
                            });
                        }
                    }

                    // Create the chart
                    $('#donutchart').highcharts({
                        chart: {type: 'pie'},
                        title: {
                            text: 'Realizados do Mês'
                        },
                        yAxis: {
                            title: {
                                text: ''
                            }
                        },
                        plotOptions: {
                            pie: {
                                shadow: false,
                                center: ['50%', '50%']
                            }
                        },
                        tooltip: {
                            valuePrefix: 'R$'
                            //valueSuffix: 'R$'
                        },
                        series: [{
                            name: 'Tipo de Atividade',
                            data: browserData,
                            size: '60%',
                            dataLabels: {
                                formatter: function () {
                                    return this.y > 5 ? this.point.name : null;
                                },
                                color: 'white',
                                distance: -30
                            }
                        }, {
                            name: 'Categorias',
                            data: versionsData,
                            size: '80%',
                            innerSize: '60%',
                            dataLabels: {
                               formatter: function () {
                                   // display only if larger than 1
                                    return this.y > 1 ? '<b>' + this.point.name + ':</b> R$ ' + this.y : null;
                                }
                            }
                        }]
                    });
                });

                $.get('/Dashboard/LoadDREMesPartial', function (data) {
                    $("#divDRE").html(data);
                });

                $.get('/Dashboard/LoadUltimosLancamentosView', function (data) {
                    $("#divUltLancamentos").html(data);
                });
            });
        })(jQuery);
    </script>
}

